@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --very-tight: -1.2px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-inter: var(--font-inter);
  --color-gray-warm-800: #41403d;
  --color-gray-warm-700: #62605c;
  --color-gray-warm-500: #b5b3af;
  --color-gray-warm-300: #e6e6e6;
  --color-gray-warm-200: #f6f6f6;
  --color-Brand-Migrate-Mate: #9a6fff;
  --color-Brand-Background: #ebe1fe;
  --color-Theme-Success: #4abf71;
}

.text-large {
  @apply text-4xl;
  letter-spacing: -1.08px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  @apply cursor-pointer;
}
.red {
  @apply border border-red-500;
}
